openapi: 3.0.3
info:
  title: Golf Canada Scores API
  description: Scores endpoints for the Golf Canada Client
  version: 1.0.0
  contact:
    name: Ken Davidson
    url: https://github.com/kenjdavidson/golf-canada-alexa
    email: ken.j.davidson@live.ca
servers:
- url: https://scg.golfcanada.ca
paths:
  /api/scores/getHandicapCalculation:
    get:
      summary: Retrieve handicap calculation for an individual
      tags:
      - Scores
      operationId: getHandicapCalculation
      security:
      - bearerAuth: []
      parameters:
      - name: individualId
        in: query
        required: true
        description: The unique identifier of the individual
        schema:
          type: identifier
      responses:
        200:
          description: Handicap calculation retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandicapCalculation'
        401:
          description: Not Authorized
        404:
          description: Handicap calculation not found
  /api/scores/getScoreData:
    get:
      summary: Retrieve score data for an individual
      tags:
      - Scores
      operationId: getScoreData
      security:
      - bearerAuth: []
      parameters:
      - name: individualId
        in: query
        required: true
        description: The unique identifier of the individual
        schema:
          type: identifier
      responses:
        200:
          description: Score data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreData'
        401:
          description: Not Authorized
        404:
          description: Score data not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CourseDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        courseStatus:
          type: string
        tees:
          type: array
          items:
            $ref: '#/components/schemas/Tee'
    Facility:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nationalAssociation:
          type: string
        name:
          type: string
        courses:
          type: array
          items:
            $ref: '#/components/schemas/CourseDetail'
    HandicapCalculation:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        club:
          type: string
        handicap:
          type: string
        handicapDate:
          type: string
          pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        clubManagementGroup:
          type: string
        scoreCount:
          type: integer
        numCalcScores:
          type: integer
        handicapScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        adjustedScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        esrTriggerScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        exceptionalScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        pccScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        committeeScores:
          type: array
          items:
            $ref: '#/components/schemas/HandicapScore'
        diffSum:
          type: number
          format: double
        avgDiff:
          type: number
          format: double
        lowValue:
          type: number
          format: double
        isLowValueAdjusted:
          type: boolean
        lowIndexAdjustedOn:
          type: string
          pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}'
        calcValue:
          type: number
          format: double
        adjustedValue:
          type: number
          format: double
        lowValueDifference:
          type: number
          format: double
        softCap:
          type: number
          format: double
        hardCap:
          type: number
          format: double
        lowScoreCountAdjustment:
          type: integer
        adjustedAvgDiff:
          type: number
          format: double
    HandicapScore:
      type: object
      properties:
        date:
          type: string
          pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}'
        value:
          type: integer
        course:
          type: string
        rating:
          type: number
          format: double
        slope:
          type: integer
        differential:
          type: number
          format: double
        adjustedDifferential:
          type: number
          format: double
        adjustment:
          type: number
          format: double
        type:
          type: string
        isUsedInCalc:
          type: boolean
        esrAdjustment:
          type: number
          format: double
        pccAdjustment:
          type: number
          format: double
        hcAdjustment:
          type: number
          format: double
        esrMulti:
          type: number
          format: double
        pccMulti:
          type: number
          format: double
        hcMulti:
          type: number
          format: double
        esrIdentifier:
          type: string
        scaledHolesPlayed:
          type: integer
        scaleTypeId:
          type: string
    Hole:
      type: object
      properties:
        number:
          type: number
          format: double
        par:
          type: integer
        yards:
          type: integer
        handicap:
          type: integer
          nullable: true
        max:
          type: integer
        frontMax:
          type: integer
        backMax:
          type: integer
    HoleScore:
      type: object
      properties:
        number:
          type: number
          format: double
        gross:
          type: integer
          nullable: true
        putts:
          type: integer
          nullable: true
        puttLength:
          type: number
          format: double
          nullable: true
        club:
          type: integer
          nullable: true
        drive:
          type: string
          nullable: true
        fir:
          type: integer
          nullable: true
        upDown:
          type: integer
          nullable: true
        sandSave:
          type: integer
          nullable: true
        penalty:
          type: integer
          nullable: true
        max:
          type: integer
          nullable: true
    ScoreData:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/ScoreDetail'
        facility:
          $ref: '#/components/schemas/Facility'
    ScoreDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          nullable: true
        individualId:
          type: identifier
        date:
          type: string
          pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}'
        courseId:
          type: integer
          format: int64
        teeId:
          type: integer
          format: int64
        holesPlayed:
          type: string
        formatPlayed:
          type: string
        esc:
          type: integer
          nullable: true
        holeScores:
          type: array
          items:
            $ref: '#/components/schemas/HoleScore'
        isHoleByHole:
          type: boolean
        isHoleByHoleRequired:
          type: boolean
        isTrackingStats:
          type: boolean
        isTournament:
          type: boolean
        isPenalty:
          type: boolean
        attestor:
          type: string
          nullable: true
        isPlayedAlone:
          type: boolean
        facilityId:
          type: integer
          format: int64
        differential:
          type: number
          format: double
        adjustments:
          type: number
          format: double
          nullable: true
        adjustedDifferential:
          type: number
          format: double
        newAdjustment:
          type: number
          format: double
          nullable: true
        isManualEntry:
          type: boolean
        courseName:
          type: string
          nullable: true
        teeName:
          type: string
          nullable: true
        rating:
          type: number
          format: double
          nullable: true
        slope:
          type: integer
          nullable: true
    Tee:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        holes:
          type: array
          items:
            $ref: '#/components/schemas/Hole'
        frontRating:
          type: number
          format: double
        backRating:
          type: number
          format: double
        rating:
          type: number
          format: double
        frontSlope:
          type: integer
        backSlope:
          type: integer
        slope:
          type: integer
        targetScore:
          type: integer
        adjustedTargetScore:
          type: integer
